In [63]:
import json
from collections import defaultdict

import pandas as pd

In [2]:
with open("/Volumes/thesis-data/dtype_dict.json") as f:
    dtypes = json.load(f)

main = pd.read_csv(
    "/Volumes/thesis-data/main.csv",
    dtype=dtypes,
    parse_dates=["PERIOD", "ADMDATE", "DISCDATE"],
)

In [57]:
process_columns = []
for column in main.columns:
    if column.startswith("OPCS_"):
        try:
            int(column.split("_")[-1])
            process_columns.append(column)
        except ValueError:
            pass

process_columns = sorted(process_columns, key=lambda opcs: int(opcs.split("_")[-1]))

process_columns.insert(0, "OPCS4")

In [85]:
primary_process = main[["SPELL_ID", "EPISODE_ID", "NetCost"] + process_columns]
primary_process = primary_process.drop_duplicates(subset=["EPISODE_ID"]).reset_index(
    drop=True
)

episode_counts = primary_process.groupby("SPELL_ID")["EPISODE_ID"].count()
multiple_episode_spells = episode_counts[episode_counts > 1].index

primary_process = primary_process[
    primary_process["SPELL_ID"].isin(multiple_episode_spells)
].reset_index(drop=True)
primary_process = primary_process.sort_values("EPISODE_ID")

In [86]:
primary_process.head()

,SPELL_ID,EPISODE_ID,NetCost,OPCS4,OPCS_1,OPCS_2,OPCS_3,OPCS_4,OPCS_5,OPCS_6,OPCS_7,OPCS_8,OPCS_9,OPCS_10,OPCS_11,OPCS_12,OPCS_13
461537,A7734183X1,Acute:A7734183X1:1,592.88,ZZ99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512713,A7734183X1,Acute:A7734183X1:2,520.88,ZZ99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423627,A8019721X1,Acute:A8019721X1:1,113.94,ZZ99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430855,A8019721X1,Acute:A8019721X1:2,519.18,G451,G451,Z274,H229,Z276,Y842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398260,A8708128X1,Acute:A8708128X1:1,5330.55,W401,W401,Z942,Y819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN